
.box { 
	position:absolute;
	width:390px;
	height:390px; 
	margin-top:-270px;
	margin-left:35%; 
	padding:20px 0px;

}

body {
	text-align: center;
}

.chocolateContainer{
	position:fixed;
	top:39%;
	left:32%;
	width:530px;
	height:500px;
	z-index:-1;
	text-align:left;
}

.imgChocolate{
	padding:0px 1px 0px 1px;
	height:30px;
	width:auto;
}

#chocsize{
	width:30.7px;
	height:auto;
	margin:0 0.5px 0 0.5px;
	z-index:1;
}

#chocsize2{
	width:30.7px;
	height:auto;
	margin:0 0.5px 0 0.5px;
	z-index:12;
}

#left{
margin-top:11%; 
padding:0;
margin-right:-7px;
z-index:2;

}

#label1{
	z-index:200;
	position: relative;
	left: -1000px;
	top: -20px;
}

#label2{
	z-index:1;
	position: relative;
	left: -1000px;
	top: -250px;
	-webkit-transform:rotate(-16deg);
}

.label1p{
	position:relative;
    top:80px;
   	left:0px;
	width:300px;
	padding: 0;
	margin: 0px 10px 0 90px ;
 	text-align:center;
	font-family: 'Gabriela', serif;
	font-size:25px;
	line-height:120%;
	
 }
.endp{
	font-family: 'Gabriela', serif;
	color:white;
	font-size:35px;
	line-height:120%;
}

.label2p{
	position:relative;
    top:95px;
   	left:-30px;
	width:300px;
	padding: 0;
	margin: 0px 10px 0 90px ;
 	text-align:center;
	font-family: 'Gabriela', serif;
	font-size:30px;
	line-height:80%;
	-webkit-transform:rotate(-3deg);
	

 }
.smallerp{
	font-family: 'Noto Serif', serif;
	font-size:14px;
	
	
}

.smallerp2{
	font-family: 'Noto Serif', serif;
	font-size:14px;
	
	
}

.labelset1{
	z-index:200;
	position: relative;
	left: -1000px;
	top: 200px;
	
}
.labelsize{
	width:400px;
	height:auto;
}

.info{
	position:absolute;
	display:block;
	top:200px;
	left:0px;
	
/*	border:solid blue;*/
}

.plablecontainer{
	position:absolute;
	top:0px;

}

#milksections{
	position:relative;
	left:-334px;
	top:319px;
	display:none;

}

.highlights{
	color:#F5458E;
}

#right{
	z-index:2;
}

#fly-it{
margin-top:-200px;
position:absolute;
z-index:5;
}



.scroll{
	position:fixed;
	left:70%;
	top:55%;
	margin:0;
	width:50%;
	height:auto;
	z-index:5;
	
}

 


#banner{
overflow:hidden;

}

.bannerclass{
	position: relative;
	margin: 0;
	width:100%;
	height:600px;

	
	}
	
.color-block{
	position: relative;
	margin: 0;
	width:100%;
	height:600px;
}	
	
#block1 {
	overflow:hidden;
	background-color:#FADCEB;
	height:900px;
	
}

#block2 {
	overflow:hidden;
	background-color:#F2C2E1;
	height:1000px;
	
}

#block3 {
	overflow:hidden;
	background-color:#F2D5E8;
	height:3000px;	
}

#choc_block{
position:fixed;
top:38%;
left:32%;
z-index:20;
z-index:1;
}

#slider{
background-color:#F2C2E1;
width:6000px;
height:500px;
z-index:2;
position:absolute;

}

#block4 {
	overflow:hidden;
	background-color:#EDCCED;
	height:3000px;


}

/*p {
   position:absolute;
   top:20px;
   left:20px;
   width:100%;
border:solid red;
}*/

.wrapimage{
	width:100%;
	
	
}


 

#details1 {
	display:none;
	position:absolute;
	top:200px;
	left:400px;
	z-index:5;
	padding:0;

	
}

#details1p{
	display:none;
	position:absolute;
	top:200px;
	left:400px;
	z-index:6;
	-webkit-transform:rotate(-14deg);
	margin-top:55px;
	margin-left:80px;
	font-family: 'Gabriela', serif;
	font-size:30px;
	color:#9B18B5;
	
}


#details2 {
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	z-index:5;

	
}
 #details2p{
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	z-index:6;
	-webkit-transform:rotate(-14deg);
	margin-top:55px;
	margin-left:80px;
	font-family: 'Gabriela', serif;
	font-size:30px;
	color:#9B18B5;

	
}


#details3 {
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	
}
 #details3p{
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	z-index:6;
	-webkit-transform:rotate(-14deg);
	margin-top:55px;
	margin-left:80px;
	font-family: 'Gabriela', serif;
	font-size:30px;
	color:#9B18B5;

	
}


#details4 {
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	

	
}
 #details4p{
	display:none;
	position:absolute;
	top:400px;
	left:500px;
	z-index:6;
	-webkit-transform:rotate(-14deg);
	margin-top:55px;
	margin-left:80px;
	font-family: 'Gabriela', serif;
	font-size:30px;
	color:#9B18B5;

	
}

#firstinfo{
	position:relative;
	left:-80px;
	top:200px;

	
}

#secondinfo{
	position:relative;
	left:360px;
	top:-200px;

}

#thirdinfo{
	position:relative;
	left:490px;
	top:90px;
	z-index:10;

	
}

#fourthinfo{
	position:relative;
	left:100px;
	top:120px;
}

.text_treatment{
	font-family: 'Gabriela', serif;
	font-size:30px;
	
}



#chunk1{
 	position:fixed;
	top:38%;
	left:32%;
	z-index:20;
	z-index:1;
	padding:0;
	margin:0;

}

 #chunk2{
position:fixed;
top:38%;
left:48.05%;
z-index:20;
margin-left:-6px;
z-index:1;
padding:0;
margin:0;

	
	
}
	
 #chunk3{
	position:fixed;
/*	border:solid red;*/
	top:60.4%;
	left:62%;
	z-index:10;
}
	
 #chunk4{	
	position:fixed;
	/*	border:solid green;*/
		top:55.9%;
		left:48.30%;
	}	
 
 
.chunkhover{
position:absolute;
-webkit-box-shadow: none;
 -webkit-transform: scale(1.1);
z-index:10;

 }

 
#chunkbox {	
	position:absolute;
	height:100%;
	width:auto;
	border:solid green;
}

.chunk{
	position:relative;
}
#chocoblock2{
	position:fixed;
	top:38%;
	left:32%;
	width:530px;
	height:500px;
	z-index:-1;
	text-align:left;
}

#choc_block{
position:inherit;
top:38%;
left:32%;
z-index:5;
}

#milksections{
	position:absolute;
	top:0%;
	left:0%;
	/*margin-top:0%;
	margin-left:0%;*/
	z-index:10;
}

.theend{
	position: relative;
	margin: 0;
	width:100%;
	height:600px;
	
	
}
#end{
	overflow:hidden;
	position:absolute;
}
#containerend{
	position:relative;
	top:2000px;
}